body{
  margin: 0;
  font-family: "Microsoft YaHei ";
  background-image: url("bg3.png");

}
input{
    text-indent: 1em;
}
button{
  outline: none;
}
.header{
  width: 100%;
  min-width: 600px;
  height: 50px;
  background-image: url(上导航2.png);

}

.bgheader{
  float: left;
  margin: 0;
  margin-left: 0;
}
.logo{
  float: left;
  margin-top: -50px;
  margin-left: 15%;
  position: relative;

}
/*.header>img{
  margin: 10px;
  margin-left: 15%;
}*/
.sousuo>input{
  border-radius: 25px;
  width: 200px;
  outline: none;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 95%;
  border: 1px ;
  height: 20px;
  box-shadow:-1px -1px 2px #c3c5c7  inset,1px 1px 2px #bec0c2;
}
label>button{
  height: 15px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
  right: 0;
  margin-left: -15%;
  margin-top: -10%;
  border: none;
  background: white;
  position:relative;
   }
.fenlei{
  background: #dcd79d;
  width: 90px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  right: 0;
  margin-right:15%;
  margin-top:10px;
  float: left;;
  border: none;
  position: absolute;

}
button>img{
  width: 15px;
  height: 15px;
  margin: -2px;
}
label{
     float: left;
     top:4%;
     left:80%;
     margin-left:-40%;
     margin-top:-50px;
     position:relative;
   }
.bg2>p{
  width: 170px;
  height: 40px;
  background-color: #e3dfb4;
  text-align: center;
  line-height: 40px;
  float: left;
  top:4%;
  left:80%;
  margin-left:-37%;
  margin-top:-120px;
  position:relative;;
}
.shu{
  background-image: url("白底 拷贝.png");
  float: left;
  width: 80%;
  height: 800px;
  margin-left: 10%
}
